/* --------- Resets + Theme ----------- */

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    /* background-color: #102027; */
    font-family: 'Raleway', 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.2;
    margin: 0;
    position: relative;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* --------- Header ----------- */

.navbar-brand span{
    font-weight: 700;
}

.navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-nav {
    align-items: center;
}

.form-inline {
    display: flex;
}

.form-inline button {
    background-color: #E26276;
    border: 1px solid #000;
    margin: 10px;
    color: #fff;
    font-weight: bold;
}

